@font-face {
    font-family: icomoon;
    src: url(fonts/icomoon.woff);
}

.icon{font-family: icomoon}

body{
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Helvetica;
    color: #FFFFFF;
    overflow: hidden;
}

body{
    /* overflow-y: auto
 */}

body.open{
    overflow-y: hidden
}

h1 {
    font-size: 52px;
    background: #1abc9c;
    color: white;
    display: inline-block;
    
    margin: 16px 0;
    
    padding: 5px 48px;
    
    border-radius: 0 8px 50px 0;
}

div#mapa {
    width: 1050px!important;
    margin: 0 auto;
    position: relative;
    /* left: 50px; */
}

div#municipio {
    width: 400px;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    padding: 25px 36px;
    border-radius: 4px;
    top: 85px;
    left: 50%;      
    transform: translate(-50%, 0);
    margin-left: 277px;   //horizontal centering  align-items:center; //vertical centering;
    overflow: hidden;
}

div#municipio h2 {
    font-size: 3em;
    margin: 0 0 30px;
    text-align: center;
}

div#municipio .pob ul {
    list-style-type: none;
    line-height: 32px;
    margin: 0;
    padding: 0;
    display: none;
}

div#municipio ul span:first-child {
    color: #1abc9c;
    margin-right: 15px;
    font-size: 20px;
}

ul#moreInfo {
    position: absolute;
    list-style-type: none;
    cursor: pointer;
    line-height: 26px;
    top: 342px;
    padding: 0 0 0 25px;
    z-index: 5;
    /* max-width: 156px; */
    width: 20px;
}

ul#moreInfo li{
    transition: .5s
;white-space: nowrap;
}

ul#moreInfo li:hover {
    padding-left: 10px;
    color: #1abc9c;
}

div#info {
    position: fixed;
    background: #2c3e50;
    width: 365px;
    top: 0;
    bottom: 0;
    right: -365px;
    z-index: 1;
    transition: .5s;
    color: white;
}

div#info.open{
    right: 0
}

#info span:after{
    content: "i";
    font-size: 26px;
    position: absolute;
    top: 12px;
    left: -44px;
    cursor: pointer;
    color: #FFFFFF;
}

div#info.open span:after{
    content: "×";
    font-family: Arial;
    /* font-weight: bold; */
    font-size: 48px;
    top: 0px;
    left: -38px;
}

#info span:hover:after {
    color: #1abc9c;
}

div#mapa > img {
    /* width: 100%; */
    /* height: auto; */
    text-align: left;
}

#info h3 {
    background: #34495e;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding: 13px 16px;
}

#info h3 + div {
    overflow-y: auto;
}

#info p {
    padding: 0 16px;
}

p#sign {
    position: fixed;
    font-size: 11px;
    right: 17px;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 0;
}

p#sign span.icon {
    color: #e74c3c;
}

p#sign a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

p#sign a:hover{
    color: white;
    text-decoration: underline
}
ul#moreInfo + div {
    background: #2c3e50;
    color: #CDDCEC;
    width: 700px;
    padding: 10px 32px;
    position: fixed;
    z-index: 10;
    bottom: -100%;
    left: 50%;      
    transform: translate(-50%, 0);
    border-radius: 4px 4px 0 0;
    max-height: 90%;
    overflow-y: auto;
    transition: .5s;
}

ul#moreInfo + div h3 {
    font-weight: normal;
    font-size: 25px;
    color: white;
    margin: 14px 0;
}

ul#moreInfo + div h3 span {
    font-size: 22px;
}

ul#moreInfo + div .close {
    position: absolute;
    right: 14px;
    top: 6px;
    cursor: pointer;
    font-size: 23px;
}

ul#moreInfo + div .close:hover {
    color: #1abc9c
}

ul#moreInfo + div.open{
    bottom: 0
}

div#municipioInfo {
    background: #2c3e50;
    position: fixed;
    z-index: 10;
    color: white;
    padding: 0 0 30px 0;
    top: 100%;
    transition: .7s;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

div#municipioInfo.open {
    top: 0;
}

div#municipioInfo .close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 60px;
    cursor: pointer;
}

div#municipioInfo .close:hover{
    color: #2c3e50
}

div#municipioInfo h3 {
    background: #1abc9c;
    margin: 0;
    padding: 30px;
    font-size: 32px;
    text-transform: uppercase;
}

div#municipioInfo h5 {
    font-size: 16px;
    letter-spacing: 1px;
}

div#municipioInfo h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(26, 188, 156);
}

div#municipioInfo table {
    border: 1px solid white; 
    border-collapse: collapse;
    text-align: center;
    /* width: 50%; */
}

div#municipioInfo table td,
div#municipioInfo table th{
    border: 1px solid white;
    padding: 8px;
}

div#municipioInfo table th {
    background: #1abc9c;
}

div#municipioInfo .data {
  padding: 0 30px;
}

ul.team {
    list-style-type: none;
    padding-left: 16px;
    margin: -25px 0 0;
}

ul.team li {
    line-height: 28px;
}

ul.team li img {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(26, 188, 156);
    position: relative;
    top: 18px;
    margin-right: 8px;
}

#bg_matamoros,
#bg_valleHermoso,
#bg_rioBravo,
#bg_reynosa,
#bg_diazOrdaz,
#bg_camargo,
#bg_miguelAleman,
#bg_mier,
#bg_guerrero,
#bg_nuevoLaredo{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-size: 100%;
    transition: 1s;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

#bg_matamoros.show,
#bg_valleHermoso.show,
#bg_rioBravo.show,
#bg_reynosa.show,
#bg_diazOrdaz.show,
#bg_camargo.show,
#bg_miguelAleman.show,
#bg_mier.show,
#bg_guerrero.show,
#bg_nuevoLaredo.show{opacity: 1;/* transition: 1s; */}

#bg_matamoros{background-image: url(../img/matamoros.jpg);}
#bg_valleHermoso{background-image: url(../img/valleHermoso.jpg);}
#bg_rioBravo{background-image: url(../img/rioBravo.jpg);}
#bg_reynosa{background-image: url(../img/reynosa.jpg);}
#bg_diazOrdaz{background-image: url(../img/diazOrdaz.jpg);}
#bg_camargo{background-image: url(../img/camargo.jpg);}
#bg_miguelAleman{background-image: url(../img/miguelAleman.jpg);}
#bg_mier{background-image: url(../img/mier.jpg);}
#bg_guerrero{background-image: url(../img/guerrero.jpg);}
#bg_nuevoLaredo{background-image: url(../img/nuevoLaredo.jpg);}

.right{
    /* border-radius: 4px; */
    
}
.data .left{
    float: left;
    margin-right: 42px
}
.data .right{
    float: right;
    margin-left: 42px;
}

.data .left, .data .right{margin-bottom: 42px;/* max-width: 50%; *//* min-width: 30%; */}

.data img + p {
    margin: 3px 0 0;
    text-align: center;
    font-size: 13px;
}

.data img {
    border-radius: 4px;
    max-width: 500px;
}

img.center{display: block;margin: 0 auto}

canvas+p {
    text-align: center;
}

canvas#chart-area {
    display: block;
    margin: 0 auto;
}


div#municipio > ul:first-child {
    margin: 0;
    padding: 0;
    width: 9999px;        
    left: 0;
    position: relative;    
    transition: .5s;
}

div#municipio > ul:first-child > li {
    list-style-type: none;
    display: inline-block;
    /* background: red; */
    width: 400px;
    margin-left: 40px;
    vertical-align: top;
}

div#municipio > ul:first-child > li:first-child {
    margin: 0;
}

ul#select {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    left: 0;    
    /* left: 500px; */    
    position: relative;  
    transition: 1s;
};
}

ul#select li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
}

ul#select li:hover{
    background: #ecf0f1
}
ul#select li.active,
ul#select li.active:hover{
    background: rgb(26, 188, 156);
    border: 1px solid rgb(255, 255, 255);
}

ul#select li:first-child {
    margin: 0;
}

div#municipio > ul:first-child.second {
    left: -445px;
}

div#municipio > ul:first-child.third {
    left: -890px;
}

div#municipio > ul:first-child.first {
    left: 0;
}

ul#select li {
    width: 10px;
    height: 10px;
    list-style-type: none;
    display: inline-block;
    background: white;
    border: 1px solid white;
    border-radius: 100%;
    transition: 1s;
    cursor: pointer;
}

ul#select li:hover {
    background: #ecf0f1;
}

#info span:before {
    content: "Información";
    position: absolute;
    top: 16px;
    color: rgba(255, 255, 255, 0.59);
    display: block;
    font-family: Helvetica;
    left: -136px;
}

div#info.open span:before {
    content: "cerrar";
    left: -90px;
}

li.pob a {
    color: white;
    transition: .1s;
    text-decoration: none;
    position: absolute;
    left: 310px;
    bottom: 0;
    background: rgb(26, 188, 156);
    padding: 4px 11px;
    line-height: 18px;
    border-radius: 2px;
    display: none;
}

li.pob a span {
    font-size: 4px;
}

li.pob a > span {
    font-size: 12px!important;
    margin: 0!important;
    color: white!important;
}

p.link{text-align: right;}

li.pob a:hover {
    background: #16a085;
}

li.links ul {
    margin: 0;
    padding: 0 0 0 23px;
}

li.links ul li {
    list-style-type: initial;
    line-height: 32px;
}

li.links ul li a {
    color: rgb(26, 188, 156);
}

li.links ul li a:hover {
    color: #16a085;
}